Repository jbacus/oxen-vcs-logic: changes, and which Codecov flags are due for each by the changed paths.
All: rust-cli, rust-server, swift-daemon, swift-app, frontend

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 70%
        threshold: 5%

  changes:
    default:
      against: auto
      threshold: 1%

flags:
  rust-cli:
    paths:
      - Auxin-CLI-Wrapper/
    carryforward: true

  rust-server:
    paths:
      - auxin-server/
    carryforward: true

  swift-daemon:
    paths:
      - Auxin-LaunchAgent/
    carryforward: true

  swift-app:
    paths:
      - Auxin-App/
    carryforward: true

  frontend:
    paths:
      - auxin-server/frontend/
    carryforward: true

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*_test.rs"
  - "**/tests/**"
  - "**/test/**"
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/mock*.swift"
  - "**/Mock*.swift"
  - "**/*Tests.swift"

docs: Add comprehensive API and deployment documentation
  NEXT_STEPS.md
  auxin-server/docs/api/README.md
  auxin-server/docs/api/openapi.yaml
  auxin-server/docs/deployment/PRODUCTION.md
  auxin-server/docs/deployment/auxin-server.service
  auxin-server/docs/deployment/backup-auxin.sh
  auxin-server/docs/deployment/nginx.conf.example
  auxin-server/docs/deployment/prometheus.yml
Due: rust-server

test: Fix Swift test compilation errors and add E2E test specification
  Auxin-LaunchAgent/Tests/FSEventsMonitorTests.swift
  Auxin-LaunchAgent/Tests/NetworkMonitorTests.swift
  Auxin-LaunchAgent/Tests/XPCServiceTests.swift
  auxin-server/tests/E2E_TEST_SPEC.md
Due: none

docs: Consolidate documentation into two master guides
  DEVELOPER_GUIDE.md
  README.md
  USER_GUIDE.md
  auxin-server/DEPLOYMENT.md
  auxin-server/QUICKSTART.md
  docs/BONEYARD/README.md
  docs/BONEYARD/auxin-server/BUILD_MACOS_26.md
  docs/BONEYARD/auxin-server/DEPLOYMENT.md
  docs/BONEYARD/auxin-server/FRONTEND_SETUP.md
  docs/BONEYARD/auxin-server/INSTALL.md
  docs/BONEYARD/auxin-server/MANUAL_TEST_RESULTS.md
  docs/BONEYARD/auxin-server/QUICKSTART.md
  docs/BONEYARD/auxin-server/README.md
  docs/BONEYARD/auxin-server/RELEASE_NOTES.md
  docs/BONEYARD/auxin-server/STATUS.md
  docs/BONEYARD/auxin-server/TESTING.md
  docs/BONEYARD/components/APP_BUNDLE.md
  docs/BONEYARD/components/BUILD_AND_TEST.md
  docs/BONEYARD/components/CLI_HELP.md
  docs/BONEYARD/components/UI_IMPLEMENTATION_SUMMARY.md
  docs/BONEYARD/components/USAGE.md
  docs/BONEYARD/components/VERBOSE_MODE.md
  docs/BONEYARD/github/CI_SETUP.md
  docs/BONEYARD/github/TESTING_STRATEGY.md
  docs/BONEYARD/production/PRODUCTION_QUICKSTART.md
  docs/BONEYARD/production/PRODUCTION_SIGNING.md
  docs/BONEYARD/root/BUSINESS_MODEL.md
  docs/BONEYARD/root/CAPABILITY_ASSESSMENT.md
  docs/BONEYARD/root/CODE_QUALITY_MAINTENANCE_PLAN.md
  docs/BONEYARD/root/COMPETITIVE_POSITIONING.md
  docs/BONEYARD/root/DEMO_SCRIPT.md
  docs/BONEYARD/root/DEVELOPMENT.md
  docs/BONEYARD/root/DIFF_FEATURES_IMPLEMENTATION.md
  docs/BONEYARD/root/GAP_ANALYSIS_2025-11-20.md
  docs/BONEYARD/root/INSTALLER.md
  docs/BONEYARD/root/MISSING_FEATURES_ANALYSIS.md
  docs/BONEYARD/root/THUMBNAIL_BOUNCE_FEATURE_SUMMARY.md
  docs/BONEYARD/root/THUMBNAIL_BOUNCE_QUICKSTART.md
  docs/BONEYARD/root/V0.3_RELEASE_PLAN.md
Due: rust-server

docs: Complete documentation cleanup
  CLAUDE.md
  CONFIGURATION.md
  DEVELOPER_GUIDE.md
  docs/BONEYARD/root/ASSESSMENT_QUICK_REFERENCE.txt
  docs/BONEYARD/root/GAPS_SUMMARY.txt
  docs/BONEYARD/root/TEST_FILE_INVENTORY.txt
  docs/developer/configuration.md
Due: none

refactor: Create shared auxin-oxen crate for Oxen subprocess integration
  Auxin-CLI-Wrapper/Cargo.toml
  Auxin-CLI-Wrapper/src/collaboration.rs
  Auxin-CLI-Wrapper/src/conflict_detection.rs
  Auxin-CLI-Wrapper/src/draft_manager.rs
  Auxin-CLI-Wrapper/src/lib.rs
  Auxin-CLI-Wrapper/src/offline_queue.rs
  Auxin-CLI-Wrapper/src/oxen_backend.rs
  Auxin-CLI-Wrapper/src/oxen_ops.rs
  Auxin-CLI-Wrapper/src/remote_lock.rs
  Auxin-CLI-Wrapper/src/search.rs
  Auxin-CLI-Wrapper/src/write_ahead_log.rs
  Cargo.toml
  auxin-oxen/Cargo.toml
  auxin-oxen/src/lib.rs
  auxin-oxen/src/logger.rs
  auxin-oxen/src/oxen_subprocess.rs
  auxin-server/Cargo.toml
  auxin-server/src/repo_full.rs
Due: rust-cli, rust-server

docs: Update E2E test spec and improve repo_full.rs for auxin-oxen integration
  auxin-server/src/repo_full.rs
  auxin-server/tests/E2E_STATUS.md
  auxin-server/tests/E2E_TEST_SPEC.md
Due: rust-server

fix: Fix all doctests in auxin-oxen and update NEXT_STEPS
  NEXT_STEPS.md
  auxin-oxen/src/oxen_subprocess.rs
  auxin-server/tests/e2e_real_oxen.rs.incomplete
Due: none

feat: Complete E2E tests with real Oxen operations (5 passing)
  auxin-oxen/src/oxen_subprocess.rs
  auxin-server/src/api/repo_ops.rs
  auxin-server/src/lib.rs
  auxin-server/src/repo_full.rs
  auxin-server/tests/e2e_real_oxen.rs
Due: rust-server

docs: Update NEXT_STEPS with actual Swift test status
  NEXT_STEPS.md
Due: none

docs: Update NEXT_STEPS - Phase 7 at 98%, 218 Swift tests discovered
  NEXT_STEPS.md
Due: none

docs: Update Phase 7 progress to 98% after v0.3 API validation
  ROADMAP.md
  V0.3_VALIDATION.md
  auxin-server/src/main.rs
Due: rust-server

test: Add comprehensive GUI App testing infrastructure (ProjectDetailViewModel)
  Auxin-App/GUI_APP_TESTING_STATUS.md
  Auxin-App/Sources/Services/AuxinXPCClient.swift
  Auxin-App/Sources/ViewModels/ProjectDetailViewModel.swift
  Auxin-App/Tests/ProjectDetailViewModelTests.swift
  Auxin-App/Tests/TestUtils/MockAuxinXPCClient.swift
Due: swift-app

test: Complete GUI App testing - All 22 tests passing
  Auxin-App/GUI_APP_TESTING_STATUS.md
  Auxin-App/Sources/Views/MergeHelperWindow.swift
  Auxin-App/Sources/Views/MilestoneCommitWindow.swift
  Auxin-App/Sources/Views/RollbackWindow.swift
  Auxin-App/Tests/ProjectDetailViewModelTests.swift
Due: swift-app

docs: Update NEXT_STEPS.md - GUI App testing complete (Task 4.2)
  NEXT_STEPS.md
Due: none

docs: Complete v0.3 validation code review
  V0.3_VALIDATION.md
Due: none

feat: Add comprehensive UI improvements for v0.3
  auxin-server/frontend/src/pages/RepoPage.tsx
  auxin-server/frontend/src/services/api.ts
Due: rust-server, frontend

docs: Update v0.3 validation - Phase 1 & 2 complete
  V0.3_VALIDATION.md
Due: none

docs: Complete CLI integration testing for v0.3 validation
  CLI_INTEGRATION_TESTING.md
  V0.3_VALIDATION.md
Due: none

release: Auxin v0.3.0 - Server Alpha Release
  CHANGELOG.md
  ROADMAP.md
Due: none

docs: Add comprehensive build and run guide
  BUILD_AND_RUN.md
  build_all.sh
Due: none

feat(server): Add client-only role for music production preview
  auxin-server/frontend/src/components/bounces/BouncePlayer.tsx
  auxin-server/frontend/src/pages/RepoPage.tsx
  auxin-server/frontend/src/services/api.ts
  auxin-server/frontend/src/types/index.ts
  auxin-server/src/api/access_ops.rs
  auxin-server/src/api/bounce_ops.rs
  auxin-server/src/api/mod.rs
  auxin-server/src/api/repo_ops.rs
  auxin-server/src/auth.rs
  auxin-server/src/lib.rs
  auxin-server/src/main.rs
  auxin-server/src/repo_access.rs
Due: rust-server, frontend

docs: Add comprehensive Final Cut Pro feasibility report
  docs/developer/FCP_FEASIBILITY_REPORT.md
Due: none

fix: Resolve daemon stall issues and add clean install option
  Auxin-LaunchAgent/Sources/Daemon.swift
  Auxin-LaunchAgent/Sources/NetworkMonitor.swift
  install.sh
Due: swift-daemon

feat: Add code formatting standards and CI enforcement
  .github/workflows/test.yml
  .swiftformat
  FORMATTING.md
  rustfmt.toml
Due: none

feat: Add screenshot capture for project snapshots
  Auxin-App/Sources/Models/Project.swift
  Auxin-App/Sources/Views/SwiftUI/ProjectDetailContentView.swift
  Auxin-CLI-Wrapper/src/commit_metadata.rs
  Auxin-CLI-Wrapper/src/lib.rs
  Auxin-CLI-Wrapper/src/screenshot.rs
Due: rust-cli, swift-app

refactor: Simplify UI to only display Logic Pro thumbnails
  Auxin-App/Sources/Views/SwiftUI/ProjectDetailContentView.swift
Due: swift-app

feat: Add comprehensive collaboration workflow tests
  Auxin-CLI-Wrapper/tests/COLLABORATION_TEST_COVERAGE.md
  Auxin-CLI-Wrapper/tests/activity_feed_integration_test.rs
  Auxin-CLI-Wrapper/tests/multi_user_workflow_test.rs
  Auxin-CLI-Wrapper/tests/push_pull_integration_test.rs
  Auxin-CLI-Wrapper/tests/team_comments_integration_test.rs
Due: none

docs: Add comprehensive collaboration workflows guide
  docs/user/collaboration-workflows.md
Due: none

feat: Integrate Pete and Louis throughout collaboration workflows
  docs/user/collaboration-workflows.md
Due: none

docs: Add comprehensive branching test coverage analysis
  Auxin-CLI-Wrapper/tests/BRANCHING_TEST_COVERAGE.md
Due: none

test: Add branch deletion and remote branch operation tests
  Auxin-CLI-Wrapper/tests/BRANCHING_TEST_COVERAGE.md
  Auxin-CLI-Wrapper/tests/branch_operations_test.rs
Due: none
